/*------------------------------------------*/
/* 12 columns grid - column 6.5%, gutter 2% */
/*------------------------------------------*/
.grid {
	float: left;
	min-height: 1.5rem;
}

.grid.row { width: 100%; }
.grid.row::after {
	content: "";
 	display: block;
	clear: both;
}

.grid.col_1  { width: 6.5%; }
.grid.col_2  { width: 15%;  }
.grid.col_3  { width: 23.5%;}
.grid.col_4  { width: 32%;  }
.grid.col_5  { width: 40.5%;}
.grid.col_6  { width: 49%;  }
.grid.col_7  { width: 57.5%;}
.grid.col_8  { width: 66%;  }
.grid.col_9  { width: 74.5%;}
.grid.col_10 { width: 83%;  }
.grid.col_11 { width: 91.5%;}
.grid.col_12 { width: 100%; }

.grid [class*="col"]:not(:last-child) {
	margin-right: 2%;
}
/*------------------------------------------*/