@import "https://fonts.googleapis.com/css?family=Yellowtail";
ul, .carousel .pages { margin-top: 0; margin-bottom: 0; padding-left: 0; list-style: none; }

nav .logo, .carousel .page_1 a, .carousel .btn_left, .carousel .btn_right, .carousel .carousel_nav button, footer .sns a { overflow: hidden; text-indent: -9999em; }

nav h2, .carousel h2, .intro h2 { overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); margin: -1px; border: 0; padding: 0; width: 1px; height: 1px; }

h1, h2, h3 { margin: 0; }

ul li { float: left; display: block; }

a { display: block; color: #ffffff; line-height: 1.5; text-decoration: none; }

button:hover { cursor: pointer; }

img { vertical-align: middle; }

.container { min-width: 320px; max-width: 1220px; min-height: 100vh; margin-left: auto; margin-right: auto; background-image: url(../img/bg.png); background-size: 100% auto; }

header { display: flex; justify-content: space-between; align-items: center; position: relative; padding: 0 2.5vw; height: 48px; line-height: 48px; background: linear-gradient(90deg, transparent 25%, #c30007 25%, #c30007 75%, transparent 75%), #ed1c24; background-position: center, center; background-size: 60px, 100%; }

header a { font-size: 12px; }

header ul li:not(:first-child) { margin-left: 18px; }

header ul a { font-size: 10px; }

header::after { content: ""; position: absolute; min-width: 320px; top: 40px; left: 0; right: 0; border-bottom: 1px solid yellow; }

@media (min-width: 960px) { header { padding: 0 5vw; background: linear-gradient(90deg, transparent 30%, #ed1c24 30%, #ed1c24 70%, transparent 70%), linear-gradient(90deg, transparent 25%, #c30007 25%, #c30007 75%, transparent 75%), #ed1c24; background-position: center, center, center; background-size: 50%, 6.25% , 100%; } }

@media (min-width: 1220px) { header { padding: 0 5vw; background: linear-gradient(90deg, #ed1c24 0%, #ed1c24 100%) no-repeat, linear-gradient(90deg, #c30007 25%, transparent 25%, transparent 75%, #c30007 75%), #ed1c24; background-position: center, center, center; background-size: 250px 48px, 100px, 100%; }
  header a { font-size: 16px; }
  header ul a { font-size: 12px; } }

nav { display: flex; justify-content: space-between; align-items: center; position: relative; border-bottom: 1px solid #c6c6c6; background: #ffffff; }

nav::before { content: ""; box-sizing: border-box; position: absolute; top: 0; left: 50%; transform: translateX(-50%); border-width: 0 1px 1px 1px; border-style: solid; border-color: #c6c6c6; border-radius: 50% / 75%; border-top-left-radius: 0; border-top-right-radius: 0; width: 200px; height: 100px; background: #ffffff; }

nav .logo { position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 200px; height: 100px; background: url(../img/pizzeria.png) no-repeat, linear-gradient(#ffffff 58px, transparent 58px); background-position: center center, center; background-size: 70% auto, 100%; }

nav button { width: 52px; margin: 7px; border: 1px solid #e2e2e2; border-radius: 2px; padding: 16px 12px; background: linear-gradient(#ffffff 0%, #ededed 100%); color: #ed1c24; font-size: 8px; line-height: 1; }

nav ul { display: none; }

nav .link_about { background: url(../img/icon_about.png) no-repeat; background-position: center 25%; }

nav .link_menu { background: url(../img/icon_menu.png) no-repeat; background-position: center 25%; }

nav .link_event { background: url(../img/icon_event.png) no-repeat; background-position: center 25%; }

nav .link_community { background: url(../img/icon_community.png) no-repeat; background-position: center 25%; }

@media (min-width: 960px) { nav { padding: 0 5vw; }
  nav::before { width: 250px; height: 125px; }
  nav .logo { width: 250px; height: 125px; background: url(../img/pizzeria.png) no-repeat, linear-gradient(#ffffff 70px, transparent 70px); background-position: center center, center; background-size: 70% auto, 100%; }
  nav .btn_grid { display: flex; flex-direction: column; justify-content: flex-end; align-items: center; margin: 15px 0; border: 0; padding: 0; width: 60px; height: 40px; font-size: 10px; background: url(../img/icon_hamburger.png) no-repeat; background-position: center 25%; }
  nav .btn_menu { display: none; }
  nav ul { display: block; }
  nav ul a { display: flex; flex-direction: column; justify-content: flex-end; align-items: center; margin: 15px 0; border: 0; padding: 0; width: 60px; height: 40px; font-size: 10px; color: #ed1c24; font-size: 10px; } }

@media (min-width: 1220px) { nav { padding: 0 5vw; }
  nav::before { width: 300px; height: 150px; }
  nav .logo { width: 300px; height: 150px; } }

.carousel { position: relative; padding-bottom: 90%; }

.carousel .pages { position: absolute; width: 100%; height: 100%; overflow: hidden; }

.carousel [class*="page_"] { position: absolute; top: 0; bottom: 0; }

.carousel .page_1 { left: 0; right: 0; background: url(../img/pizza.png) no-repeat, url(../img/peppers.png) no-repeat, url(../img/buyabes.png) no-repeat; background-size: 43.75% auto, 20% auto, 62.5% auto; background-position: 80% 125%, 80% 20%, -20% 90%; }

.carousel .page_1 a { position: absolute; top: 35%; left: 50%; transform: translateX(-50%); width: 62.5%; height: 35%; background: url(../img/delicious_pizzeria.png) no-repeat; background-size: 100% auto; background-position: center; }

.carousel .page_2 { left: 100%; right: 0; }

.carousel .page_3 { left: 100%; right: 0; }

.carousel .btn_left { left: 0; }

.carousel .btn_right { right: 0; }

.carousel .btn_left, .carousel .btn_right { position: absolute; top: 50%; transform: translateY(-50%); box-sizing: border-box; border: 1px solid #ad2025; padding: 0; background: #eb1a22; width: 46px; height: 64px; }

.carousel .btn_left::after, .carousel .btn_right::after { content: ""; position: absolute; top: 60%; left: 35%; width: 30px; height: 30px; border-left: 4px solid #ffffff; border-bottom: 4px solid #ffffff; transform: rotateZ(45deg) translate(-50%, -50%); }

.carousel .btn_right::after { left: -10%; transform: rotateY(180deg) rotateZ(45deg) translate(-50%, -50%); }

.carousel .carousel_nav { position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); }

.carousel .carousel_nav button { display: block; z-index: 10; margin: 0 4px; padding: 0; border: 1px solid #e5b216; border-radius: 50%; width: 10px; height: 10px; background: #ffc000; }

@media (min-width: 960px) { .carousel { padding-bottom: 50%; }
  .carousel .page_1 { background-size: 28% auto, 13.5% auto, 50% auto; background-position: 80% 125%, 80% 20%, 5% 150%; }
  .carousel .page_1 a { width: 40%; height: 40%; }
  .carousel .btn_left, .carousel .btn_right { width: 70px; height: 100px; }
  .carousel .btn_left::after, .carousel .btn_right::after { width: 40px; height: 40px; border-width: 5px; }
  .carousel .btn_right::after { left: 0%; }
  .carousel .carousel_nav button { margin: 0 5px; width: 15px; height: 15px; } }

@media (min-width: 1220px) { .carousel .btn_left, .carousel .btn_right { width: 90px; height: 120px; }
  .carousel .btn_left::after, .carousel .btn_right::after { width: 50px; height: 50px; border-width: 6px; }
  .carousel .carousel_nav button { margin: 0 6px; width: 20px; height: 20px; } }

.intro { display: flex; flex-direction: column; border-top-left-radius: 3vw; border-top-right-radius: 3vw; background: #ffffff; }

.intro article { flex: 1 0; }

.intro article h3 { margin: 5vw 0; color: #ed1c24; font-family: "Yellowtail"; font-size: 6.25vw; text-align: center; }

.intro article p { margin: 0 auto; width: 85%; color: #717171; font-size: 3.75vw; line-height: 2; letter-spacing: -0.15em; word-spacing: 0.2em; text-align: justify; }

.intro article span { display: block; margin: 0 auto; width: 85%; color: #717171; font-family: "Yellowtail"; font-size: 3.75vw; line-height: 2; text-align: right; }

.intro article a { display: flex; justify-content: center; align-items: center; float: right; margin-right: 7.5%; margin-bottom: 20px; border: 1px solid #dedede; border-radius: 0.2em; width: 40.625%; background: linear-gradient(#ffffff 0%, #ececec 100%); color: #d40000; font-size: 4.5vw; line-height: 2.75; }

.intro .imgs { display: flex; margin: 0 auto; padding: 4vw 0; width: 85%; justify-content: space-around; }

.intro [class*="fresh_"] { width: 30%; padding-bottom: 30%; border: 1vw solid #e6e6e6; border-radius: 50%; }

.intro .fresh_1 { background: url(../img/f1.png) no-repeat; background-size: cover; }

.intro .fresh_2 { background: url(../img/f2.png) no-repeat; background-position: 50% 75%; background-size: cover; }

.intro .fresh_3 { background: url(../img/f3.png) no-repeat; background-position: 50% 90%; background-size: cover; }

@media (min-width: 960px) { .intro { flex-direction: row; border-radius: 0; background: linear-gradient(transparent 25%, #ffffff 25%); }
  .intro article { position: relative; }
  .intro article::before { content: ""; position: absolute; z-index: 10; top: 0; left: 50%; transform: translateX(-50%); width: 95%; height: 100%; border-radius: 10px; background: #ffffff; }
  .intro article h3 { position: relative; z-index: 20; margin: 20px 0; font-size: 2vw; }
  .intro article p { position: relative; z-index: 20; width: 75%; font-size: 1vw; }
  .intro article span { position: relative; z-index: 20; width: 75%; font-size: 1vw; }
  .intro article a { position: relative; z-index: 20; width: 25%; margin-top: 1.5em; margin-right: 12.5%; font-size: 1vw; }
  .intro .imgs { position: relative; z-index: 20; padding: 2vw 0; }
  .intro [class*="fresh_"] { border-width: 4px; width: 25%; padding-bottom: 25%; } }

@media (min-width: 1220px) { .intro article h3 { font-size: 24px; }
  .intro article p { font-size: 12px; }
  .intro article span { font-size: 12px; }
  .intro article a { width: 100px; font-size: 12px; } }

.info { position: relative; background: url(../img/bg-wood.png); background-size: cover; color: #914c1e; text-align: center; }

.info h2 { padding-top: 12%; font-size: 6.875vw; font-family: "Yellowtail"; }

.info .ribborn { position: absolute; left: 50%; transform: translateX(-50%); top: -10px; width: 18%; height: auto; }

.info .arrow { margin: 10px 0; width: 5%; height: auto; }

.info .info_article { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.info article { display: flex; flex: 1 0; flex-direction: column; justify-content: center; margin: 24px 17px; margin-top: 0; border: 1px solid; border-radius: 1vw; width: 85%; height: 37.5vw; font-size: 5vw; }

.info article h3 { margin-bottom: 15px; font-size: 5.625vw; }

.info article p { margin: 0; margin-top: 10px; }

.info span { display: block; }

@media (min-width: 960px) { .info h2 { padding-top: 6%; font-size: 2.5vw; }
  .info .ribborn { width: 7.5%; }
  .info .arrow { width: 22px; }
  .info .info_article { flex-direction: row; }
  .info article { max-width: 25%; height: 170px; font-size: 1.875vw; }
  .info article h3 { font-size: 2vw; } }

@media (min-width: 1220px) { .info h2 { padding-top: 70px; font-size: 30px; }
  .info .ribborn { width: 93px; }
  .info article { font-size: 23px; }
  .info article h3 { font-size: 26px; } }

.about { display: flex; position: relative; flex-direction: column; justify-content: center; align-items: center; color: #ffffff; text-align: center; }

.about::before { content: ""; position: absolute; z-index: 10; width: 100%; height: 100%; background: url(../img/bg-about.png); background-position: center; background-size: cover; -webkit-filter: blur(1px); }

.about h2 { position: relative; z-index: 20; padding: 20px 22.5%; padding-bottom: 0; font-size: 6.25vw; }

.about span { position: relative; z-index: 20; font-family: "Yellowtail"; font-size: 6.25vw; }

.about p { position: relative; z-index: 20; margin: 20px 5vw; font-size: 3.5vw; }

@media (min-width: 960px) { .about h2 { padding: 40px 0; padding-bottom: 0; font-size: 25px; }
  .about span { font-size: 25px; }
  .about p { margin-bottom: 40px; font-size: 14px; } }

footer { background: url(../img/bg-footer.png); color: #ffffff; font-size: 10px; }

footer .flex { display: flex; flex-direction: column; position: relative; }

footer .sitemap { display: flex; justify-content: space-between; align-items: center; border-bottom: 1px dashed #303c4b; padding: 0 7.5%; height: 48px; }

footer .sitemap li { background: url(../img/check.png) no-repeat; background-position: 0 center; text-indent: 15px; }

footer .addr { display: flex; flex-direction: column; justify-content: center; margin-left: 7.5%; padding-left: 20px; height: 48px; background: url(../img/location.png) no-repeat; background-position: 0 center; }

footer .sns { position: absolute; right: 7.5vw; bottom: 6px; }

footer .sns a { display: inline-block; width: 30px; height: 30px; }

footer .twitter { background: url(../img/twitter.png) no-repeat; background-size: contain; }

footer .facebook { background: url(../img/facebook.png) no-repeat; background-size: contain; }

footer .copy { display: flex; justify-content: center; align-items: center; height: 48px; background: #2b2b2b; }

@media (min-width: 960px) { footer { font-size: 14px; }
  footer .flex { flex-direction: row; align-items: center; padding-right: 185px; height: 96px; }
  footer .sitemap { order: 2; display: flex; flex: 1 0; justify-content: flex-end; border-bottom: none; padding: 0; }
  footer .sitemap li { margin-left: 25px; }
  footer .addr { order: 1; border-right: 1px dashed #303c4b; padding-right: 1.5em; height: 100%; }
  footer .sns { right: 6%; bottom: 24px; }
  footer .sns a { width: 40px; height: 40px; }
  footer .copy { justify-content: flex-end; padding-right: 185px; height: 96px; } }

/*# sourceMappingURL=../map/pizzeria.css.map */